block content
  h1= title
  p Welcome to #{title}
    div
        form(method = "POST" action = "/new")
            div Author's name 
                input(type = "text" name = "authorName") 
            div Message text 
                input(type = "text" name = "message")
            div 
                button(type = "submit") Submit



    
    

